@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-button {
  box-shadow: 0 3px 0 0 #3f2abd;
}

body {
  @apply scrollbar-thin scrollbar-thumb-zinc-300 scrollbar-track-transparent scrollbar-thumb-rounded-full;
}

.fancy-button:focus {
  box-shadow: 0 0 0 0 #3f2abd;
  outline: 0;
  transform: translateY(3px);
}

.task ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.task ul[data-type="taskList"] li {
  @apply flex items-center m-0 gap-2;
}

.task ul[data-type="taskList"] li > label,
ul[data-type="taskList"] li > div {
  margin: 0;
  display: flex;
  align-items: center;
}
